@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.custom-border-cyan {
  border-color: rgb(41, 187, 173);
}

.custom-bg-cyan {
  background-color: rgb(41, 187, 173);
}

.custom-border-brown {
  border-color: rgb(54, 26, 18);
}

.brown-gradient-text {
  background: linear-gradient(to bottom, rgb(82, 65, 60), rgb(54, 26, 18));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
